{{#each stories as |story|}}
<div class="card m-5 p-3 shadow-lg">
  <div class="card-body">
    <h3 class="card-title text-center text-primary">
      <strong><a href="/story/{{story.id}}">{{story.name}}</strong></a>
    </h3>
    <h5 class="card-subtitle text-center mb-2 text-primary">Written by {{user.name}} on {{format_date
      story.date_created}}
    </h5>
    <p class="card-text fs-5 text-secondary">{{story.description}}</p>
  </div>
  <!-- This is how I want commenting form to look like -->
  <form class="comment-form" data-id="{{story.id}}">
    <div class="card m-3 p-3 shadow-lg bg-light">
      <div class="card-body">
        <div class="mb-3">
          <label for="comment-title" class="form-label text-secondary"><strong>Comment Title</strong></label>
          <input type="text" class="comment-title form-control" placeholder="Comment Title Here">
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label text-secondary"><strong>Comment</strong></label>
          <input type="text" class="comment form-control" placeholder="Comment Here"></input>
        </div>
        <button class="bg-primary text-white" id="comment-button">Leave Comment Here</button>
      </div>
    </div>
  </form>
  <!-- This is how I want the comment section to look like after clicking submit-->
  {{#if comments.length}}
{{log comments}}
  <form id="final-comment">
    <div class="card m-3 p-3 shadow-lg text-secondary bg-secondary" style="--bs-bg-opacity: .20;">
      {{#each comments as |comment|}}
      <div class="card-body">
        <h5 class="card-title text-primary"><strong>Comment to the Story:</strong></h5>
        <h6 class="card-title text-primary">
          {{comment.name}}</a> written by User_Id {{comment.user_id}} on {{format_date comment.date_created}} 
        </h6>
        <p class="card-text">{{comment.description}}</p>
      </div>
      {{/each}}
    </div>
  </form>
  {{/if}}
</div>
{{/each}}
<script src="/js/homepage.js"></script>