<div class="card m-5 p-3 shadow-lg">
    <div class="card-body">
      <h3 class="card-title text-center text-primary"><strong>{{name}}</strong></h3>
      <h5 class="card-subtitle text-center mb-2 text-primary">Written by <span>{{user.name}}</span> on <span>{{format_date date_created}}</span>
      </h5>
      <p class="card-text fs-5 text-secondary">{{description}}</p>
      <button class="bg-primary text-white" id="update-button" data-id="{{story.id}}">Update</button>
    </div>