<!-- This is how I want my-struggles-page to look like -->
<div class="card m-5 p-3 shadow-lg">
  <div class="card-body">
    <h3 class="card-title text-center text-primary"><strong>Welcome, Newbie {{name}}!<br>
        Create Your Funny Coding Newbie Story Here!</strong></h3>
  </div>
  <!-- This is how I want create-struggle-form to look like -->
  <form id="struggle-form">
    <div class="card m-3 p-3 shadow-lg">
      <div class="card-body">
        <div class="mb-3">
          <label for="struggle-title" class="form-label text-secondary">
            <strong>Struggle Title</strong>
          </label>
          <input type="text" class="form-control" id="struggle-title" placeholder="Struggle Title Here">
        </div>
        <div class="mb-3">
          <label for="fun-story" class="form-label text-secondary">
            <strong>My Funny Coding Mistakes</strong>
          </label>
          <input type="text" class="form-control" id="fun-story" placeholder="Please keep your story short and sweet. Thank you!">
            </input>
        </div>
        <button class="bg-primary text-white" id="create-button">Create</button>
      </div>
    </div>
  </form>
  <!-- This is how I want final-struggle-form to look like -->
  <form id="final-struggle-form">
    <div class="card m-3 p-3 shadow-lg">
      <h3 class="card-title text-primary m-3" id="final-struggle-title">
            <strong>Delete Any of My Old Stories Listed Below:</strong>
          </h3>
      <div class="card-body">
        {{#if stories.length}}
        {{#each stories as |story|}}
        <div class="mb-3">
          <h5 class="card-subtitlemb-2 text-primary my-1">
            <a href="/story/{{story.id}}">{{story.name}}</a> written on {{format_date story.date_created}}
          </h5>
          <button class="bg-primary text-white my-1" id="delete-button" data-id="{{story.id}}">Delete</button>
        </div>
         {{/each}}
         {{/if}}
      </div>
    </div>
  </form>
</div>
<script src="/js/struggle.js"></script>